section {
    background-color: #151b29;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1em;
    font-family: 'Courier New';
    background-image: url(image.png);
}

h1 {
    font-style: italic;
    font-size: large;
    font-weight: lighter;
    color: white;
    border: 2px;
    border-color: beige;

}