body {
    font-family: 'open sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
}

ul,
li {
    display: block;
    margin: 0;
    padding: 0;
}

@media(width: 800px) {
    h1 {
        color: purple;
    }
}

@media (orientation: landscape) {
    body {
        background-color: magenta;
    }
}